### Python pandas library - storing and manipulating data in "dataframes" (tables)

In [1]:
import pandas as pd

In [2]:
# For compatibility across multiple platforms
import os
IB = os.environ.get('INSTABASE_URI',None) is not None
open = ib.open if IB else open

### Reading from CSV file into dataframe

In [3]:
f = open('Cities.csv','rU')
cities = pd.read_csv(f)

In [4]:
cities

             city         country  latitude  longitude  temperature
0         Aalborg         Denmark     57.03       9.92         7.52
1        Aberdeen  United Kingdom     57.17      -2.08         8.10
2          Abisko          Sweden     63.35      18.83         0.20
3           Adana          Turkey     36.99      35.32        18.67
4        Albacete           Spain     39.00      -1.87        12.62
5       Algeciras           Spain     36.13      -5.47        17.38
6          Amiens          France     49.90       2.30        10.17
7       Amsterdam     Netherlands     52.35       4.92         8.93
8          Ancona           Italy     43.60      13.50        13.52
9         Andorra         Andorra     42.50       1.52         9.60
10         Angers          France     47.48      -0.53        10.98
11         Ankara          Turkey     39.93      32.86         9.86
12        Antalya          Turkey     36.89      30.70        11.88
13           Arad         Romania     46.17      21.32         9.32
14         Athens          Greece     37.98      23.73        17.41
15       Augsburg         Germany     48.35      10.90         4.54
16          Bacau         Romania     46.58      26.92         7.51
17        Badajoz           Spain     38.88      -6.97        15.61
18      Baia Mare         Romania     47.66      23.58         8.87
19          Balti         Moldova     47.76      27.91         8.23
20      Barcelona           Spain     41.38       2.18        15.78
21           Bari           Italy     41.11      16.87        15.15
22          Basel     Switzerland     47.58       7.59         6.68
23         Batman          Turkey     37.89      41.14        14.16
24        Belfast  United Kingdom     54.60      -5.96         8.48
25       Belgrade          Serbia     44.82      20.47         9.85
26        Bergamo           Italy     45.70       9.67         9.12
27         Bergen          Norway     60.39       5.32         1.75
28         Berlin         Germany     52.52      13.40         8.72
29      Bialystok          Poland     53.15      23.17         6.07
..            ...             ...       ...        ...          ...
183         Split         Croatia     43.52      16.47        12.46
184  Stara Zagora        Bulgaria     42.42      25.62        10.90
185     Stavanger          Norway     58.97       5.68         5.53
186     Stockholm          Sweden     59.35      18.10         6.26
187          Sumy         Ukraine     50.92      34.78         6.28
188       Swansea  United Kingdom     51.63      -3.95         9.73
189        Szeged         Hungary     46.25      20.15        10.34
190       Tallinn         Estonia     59.43      24.73         4.82
191       Tampere         Finland     61.50      23.75         3.59
192        Tarsus          Turkey     36.92      34.88        11.21
193         Tartu         Estonia     58.38      26.71         4.36
194      Tekirdag          Turkey     40.99      27.51        13.02
195      Toulouse          France     43.62       1.45        10.25
196       Trabzon          Turkey     40.98      39.72        10.28
197       Trieste           Italy     45.65      13.80        11.21
198       Trikala          Greece     39.56      21.77        16.00
199     Trondheim          Norway     63.42      10.42         4.53
200         Turku         Finland     60.45      22.25         4.72
201       Uppsala          Sweden     59.86      17.64         4.17
202      Valencia           Spain     39.49      -0.40        16.02
203        Vienna         Austria     48.20      16.37         7.86
204          Vigo           Spain     42.22      -8.73        12.85
205       Vilnius       Lithuania     54.68      25.32         5.38
206        Warsaw          Poland     52.25      21.00         7.20
207       Wroclaw          Poland     51.11      17.03         7.17
208   Yevpatoriya         Ukraine     45.20      33.36        10.02
209      Zaragoza           Spain     41.65      -0.89        14.17
210      Zhytomyr         Ukraine     50.25      28.66         6.67
211     Zonguldak          Turkey     41.43      31.78        10.64
212        Zurich     Switzerland     47.38       8.56         6.68

[213 rows x 5 columns]

In [5]:
# Number of rows
len(cities)

213

In [6]:
# First few rows
cities.head()

       city         country  latitude  longitude  temperature
0   Aalborg         Denmark     57.03       9.92         7.52
1  Aberdeen  United Kingdom     57.17      -2.08         8.10
2    Abisko          Sweden     63.35      18.83         0.20
3     Adana          Turkey     36.99      35.32        18.67
4  Albacete           Spain     39.00      -1.87        12.62

In [7]:
# Last 20 rows
cities.tail(20)

            city      country  latitude  longitude  temperature
193        Tartu      Estonia     58.38      26.71         4.36
194     Tekirdag       Turkey     40.99      27.51        13.02
195     Toulouse       France     43.62       1.45        10.25
196      Trabzon       Turkey     40.98      39.72        10.28
197      Trieste        Italy     45.65      13.80        11.21
198      Trikala       Greece     39.56      21.77        16.00
199    Trondheim       Norway     63.42      10.42         4.53
200        Turku      Finland     60.45      22.25         4.72
201      Uppsala       Sweden     59.86      17.64         4.17
202     Valencia        Spain     39.49      -0.40        16.02
203       Vienna      Austria     48.20      16.37         7.86
204         Vigo        Spain     42.22      -8.73        12.85
205      Vilnius    Lithuania     54.68      25.32         5.38
206       Warsaw       Poland     52.25      21.00         7.20
207      Wroclaw       Poland     51.11      17.03         7.17
208  Yevpatoriya      Ukraine     45.20      33.36        10.02
209     Zaragoza        Spain     41.65      -0.89        14.17
210     Zhytomyr      Ukraine     50.25      28.66         6.67
211    Zonguldak       Turkey     41.43      31.78        10.64
212       Zurich  Switzerland     47.38       8.56         6.68

### Sorting, selecting rows and columns

In [8]:
# Sorting by country then descending temperature
cities.sort_values(['country','temperature'],ascending=[True,False])

             city                 country  latitude  longitude  temperature
78        Elbasan                 Albania     41.12      20.08        15.18
9         Andorra                 Andorra     42.50       1.52         9.60
203        Vienna                 Austria     48.20      16.37         7.86
95           Graz                 Austria     47.08      15.41         6.91
125          Linz                 Austria     48.32      14.29         6.79
175      Salzburg                 Austria     47.81      13.04         4.62
105     Innsbruck                 Austria     47.28      11.41         4.54
47          Brest                 Belarus     52.10      23.70         6.73
161         Pinsk                 Belarus     52.13      26.09         6.42
138         Mazyr                 Belarus     52.05      29.27         6.25
102        Hrodna                 Belarus     53.68      23.83         6.07
142         Minsk                 Belarus     53.90      27.57         5.28
151         Orsha                 Belarus     54.52      30.42         4.93
49         Brugge                 Belgium     51.22       3.23         9.65
178      Sarajevo  Bosnia and Herzegovina     43.85      13.38         9.60
52         Burgas                Bulgaria     42.51      27.47        11.93
184  Stara Zagora                Bulgaria     42.42      25.62        10.90
173          Ruse                Bulgaria     43.85      25.97        10.59
162        Pleven                Bulgaria     43.42      24.61        10.51
163       Plovdiv                Bulgaria     42.15      24.75         8.27
183         Split                 Croatia     43.52      16.47        12.46
169        Rijeka                 Croatia     45.33      14.45         9.27
166        Prague          Czech Republic     50.08      14.47         8.05
48           Brno          Czech Republic     49.20      16.61         7.86
153       Ostrava          Czech Republic     49.83      18.25         7.66
149        Odense                 Denmark     55.40      10.38         7.73
0         Aalborg                 Denmark     57.03       9.92         7.52
190       Tallinn                 Estonia     59.43      24.73         4.82
193         Tartu                 Estonia     58.38      26.71         4.36
200         Turku                 Finland     60.45      22.25         4.72
..            ...                     ...       ...        ...          ...
181         Sivas                  Turkey     39.75      37.03         8.05
82        Erzurum                  Turkey     39.92      41.29         5.17
208   Yevpatoriya                 Ukraine     45.20      33.36        10.02
132     Makiyivka                 Ukraine     48.03      37.97         8.70
113       Kherson                 Ukraine     46.63      32.60         8.64
121    Kryvyy Rih                 Ukraine     47.93      33.34         8.61
120    Kremenchuk                 Ukraine     49.08      33.43         7.43
62       Cherkasy                 Ukraine     49.43      32.07         7.19
101      Horlivka                 Ukraine     48.30      38.05         7.12
64     Chernivtsi                 Ukraine     48.31      25.92         7.06
128          Lvov                 Ukraine     49.83      24.03         7.04
31   Bila Tserkva                 Ukraine     49.77      30.13         6.98
115          Kiev                 Ukraine     50.43      30.52         6.88
170         Rivne                 Ukraine     50.62      26.25         6.76
210      Zhytomyr                 Ukraine     50.25      28.66         6.67
187          Sumy                 Ukraine     50.92      34.78         6.28
63      Chernihiv                 Ukraine     51.50      31.30         5.92
84         Exeter          United Kingdom     50.70      -3.53        10.14
40    Bournemouth          United Kingdom     50.73      -1.90         9.97
188       Swansea          United Kingdom     51.63      -3.95         9.73
58      Cambridge          United Kingdom     52.20       0.12         9.25
34      Blackpool          United Kingdom     53.83      -3.05         9.15
33     Birmingham          United Kingdom     52.47      -1.92         8.81
92        Glasgow          United Kingdom     55.87      -4.25         8.60
24        Belfast          United Kingdom     54.60      -5.96         8.48
41       Bradford          United Kingdom     53.80      -1.75         8.39
1        Aberdeen          United Kingdom     57.17      -2.08         8.10
106     Inverness          United Kingdom     57.47      -4.23         8.00
76      Edinburgh          United Kingdom     55.95      -3.22         7.43
75         Dundee          United Kingdom     56.47      -3.00         6.40

[213 rows x 5 columns]

In [9]:
# Selecting a single column - returns a 'series'
cities.city
# Also show cities['city'], cities['temperature'], cities.temperature

0           Aalborg
1          Aberdeen
2            Abisko
3             Adana
4          Albacete
5         Algeciras
6            Amiens
7         Amsterdam
8            Ancona
9           Andorra
10           Angers
11           Ankara
12          Antalya
13             Arad
14           Athens
15         Augsburg
16            Bacau
17          Badajoz
18        Baia Mare
19            Balti
20        Barcelona
21             Bari
22            Basel
23           Batman
24          Belfast
25         Belgrade
26          Bergamo
27           Bergen
28           Berlin
29        Bialystok
           ...
183           Split
184    Stara Zagora
185       Stavanger
186       Stockholm
187            Sumy
188         Swansea
189          Szeged
190         Tallinn
191         Tampere
192          Tarsus
193           Tartu
194        Tekirdag
195        Toulouse
196         Trabzon
197         Trieste
198         Trikala
199       Trondheim
200           Turku
201         Uppsala
202        Valencia
203          Vienna
204            Vigo
205         Vilnius
206          Warsaw
207         Wroclaw
208     Yevpatoriya
209        Zaragoza
210        Zhytomyr
211       Zonguldak
212          Zurich
Name: city, dtype: object

In [10]:
# Selecting multiple columns - returns a dataframe
cities[['city','temperature']]
# Also show cities[['city']]

             city  temperature
0         Aalborg         7.52
1        Aberdeen         8.10
2          Abisko         0.20
3           Adana        18.67
4        Albacete        12.62
5       Algeciras        17.38
6          Amiens        10.17
7       Amsterdam         8.93
8          Ancona        13.52
9         Andorra         9.60
10         Angers        10.98
11         Ankara         9.86
12        Antalya        11.88
13           Arad         9.32
14         Athens        17.41
15       Augsburg         4.54
16          Bacau         7.51
17        Badajoz        15.61
18      Baia Mare         8.87
19          Balti         8.23
20      Barcelona        15.78
21           Bari        15.15
22          Basel         6.68
23         Batman        14.16
24        Belfast         8.48
25       Belgrade         9.85
26        Bergamo         9.12
27         Bergen         1.75
28         Berlin         8.72
29      Bialystok         6.07
..            ...          ...
183         Split        12.46
184  Stara Zagora        10.90
185     Stavanger         5.53
186     Stockholm         6.26
187          Sumy         6.28
188       Swansea         9.73
189        Szeged        10.34
190       Tallinn         4.82
191       Tampere         3.59
192        Tarsus        11.21
193         Tartu         4.36
194      Tekirdag        13.02
195      Toulouse        10.25
196       Trabzon        10.28
197       Trieste        11.21
198       Trikala        16.00
199     Trondheim         4.53
200         Turku         4.72
201       Uppsala         4.17
202      Valencia        16.02
203        Vienna         7.86
204          Vigo        12.85
205       Vilnius         5.38
206        Warsaw         7.20
207       Wroclaw         7.17
208   Yevpatoriya        10.02
209      Zaragoza        14.17
210      Zhytomyr         6.67
211     Zonguldak        10.64
212        Zurich         6.68

[213 rows x 2 columns]

In [11]:
# Selecting rows based on condition
# Note: no need to do type conversion - pandas infers types for columns
cities[cities.longitude < 0]

            city         country  latitude  longitude  temperature
1       Aberdeen  United Kingdom     57.17      -2.08         8.10
4       Albacete           Spain     39.00      -1.87        12.62
5      Algeciras           Spain     36.13      -5.47        17.38
10        Angers          France     47.48      -0.53        10.98
17       Badajoz           Spain     38.88      -6.97        15.61
24       Belfast  United Kingdom     54.60      -5.96         8.48
32        Bilbao           Spain     43.25      -2.93        11.41
33    Birmingham  United Kingdom     52.47      -1.92         8.81
34     Blackpool  United Kingdom     53.83      -3.05         9.15
38      Bordeaux          France     44.85      -0.60        11.87
40   Bournemouth  United Kingdom     50.73      -1.90         9.97
41      Bradford  United Kingdom     53.80      -1.75         8.39
42         Braga        Portugal     41.55      -8.42        13.42
46         Brest          France     48.39      -4.50        11.02
53        Burgos           Spain     42.35      -3.68        10.45
57          Caen          France     49.18      -0.35         9.96
59     Cartagena           Spain     37.60      -0.98        17.32
67          Cork         Ireland     51.90      -8.50         9.41
74        Dublin         Ireland     53.33      -6.25         8.49
75        Dundee  United Kingdom     56.47      -3.00         6.40
76     Edinburgh  United Kingdom     55.95      -3.22         7.43
84        Exeter  United Kingdom     50.70      -3.53        10.14
88        Galway         Ireland     53.27      -9.05        10.00
92       Glasgow  United Kingdom     55.87      -4.25         8.60
94       Granada           Spain     37.16      -3.59        16.33
103       Huelva           Spain     37.25      -6.93        17.09
106    Inverness  United Kingdom     57.47      -4.23         8.00
126       Lisbon        Portugal     38.72      -9.14        15.52
130       Madrid           Spain     40.40      -3.68        11.19
136     Marbella           Spain     36.52      -4.88        17.19
145       Murcia           Spain     37.98      -1.13        15.00
155       Oviedo           Spain     43.35      -5.83        10.85
174    Salamanca           Spain     40.97      -5.67        11.63
177    Santander           Spain     43.38      -3.80        13.40
188      Swansea  United Kingdom     51.63      -3.95         9.73
202     Valencia           Spain     39.49      -0.40        16.02
204         Vigo           Spain     42.22      -8.73        12.85
209     Zaragoza           Spain     41.65      -0.89        14.17

In [12]:
# Selecting rows by number
cities[15:20]
# Show cities[:8] and cities[200:]

         city  country  latitude  longitude  temperature
15   Augsburg  Germany     48.35      10.90         4.54
16      Bacau  Romania     46.58      26.92         7.51
17    Badajoz    Spain     38.88      -6.97        15.61
18  Baia Mare  Romania     47.66      23.58         8.87
19      Balti  Moldova     47.76      27.91         8.23

In [13]:
# Putting it together: selecting rows, selecting columns, sorting:
# City and longitude of all cities with latitude > 50 and
# temperature > 9, sorted by longitude
temp1 = cities[(cities.latitude > 50) & (cities.temperature > 9)]
temp2 = temp1[['city','longitude']]
temp3 = temp2.sort_values('longitude')
temp3
# Show eliminating temp3, then temp2, then temp1 (use \ for long lines)
# Note similar functionality to SQL

            city  longitude
88        Galway      -9.05
67          Cork      -8.50
188      Swansea      -3.95
84        Exeter      -3.53
34     Blackpool      -3.05
40   Bournemouth      -1.90
58     Cambridge       0.12
123        Lille       3.08
49        Brugge       3.23

### <font color="green">Your Turn</font>

In [14]:
# Read the Countries.csv file into a dataframe
f = open('Countries.csv','rU')
countries = pd.read_csv(f)

In [15]:
# Find all countries that are not in the EU and don't
# have coastline, together with their populations,
# sorted by population (smallest to largest)
YOUR CODE HERE

SyntaxError: invalid syntax (<ipython-input-15-ff6d6631e80d>, line 4)

### Aggregation

In [ ]:
# Minimum and maximum temperature
print 'Minimum temperature:', min(cities.temperature)
print 'Maximum temperature:', max(cities.temperature)

In [ ]:
# Average temperature
print 'Using sum/count:', sum(cities.temperature)/len(cities.temperature)
import numpy as np
print 'Using numpy:', np.average(cities.temperature)
print 'Using built-in mean:', cities.temperature.mean()

In [ ]:
# Average temperature of cities in each country
cities.groupby('country').mean().temperature
# or [['temperature']]
# Also show without column selection

### <font color="green">Your Turn</font>

In [ ]:
# Find the average population of countries with coastline
# and countries without coastline
# Hint: You can use groupby!

In [ ]:
# Then modify to group by both coastline and EU

### Joining

In [ ]:
cities.merge(countries, on='country')

In [ ]:
# Joining is symmetric
countries.merge(cities, on='country')

### Miscellaneous features

In [ ]:
# String operations - countries with 'ia' in their name
countries[countries.country.str.contains('ia')]

In [ ]:
# Plotting
cities.plot.scatter(x='latitude', y='temperature')

In [ ]:
# Add fahrenheit column
cities['fahrenheit'] = (cities.temperature * 9/5) + 32
cities

### Reminders

In [ ]:
# "Queries" - only last result shown
cities[cities.longitude > 35]
cities[cities.longitude < -5]

In [ ]:
# Assignment to temporary dataframes
# (modify to show both east and west)
east = cities[cities.longitude > 35]
west = cities[cities.longitude < -5]
east
west

### <font color="green">Your Turn: World Cup data</font>

In [ ]:
# Read the Players and Teams data into dataframes
f = open('Players.csv','rU')
players = pd.read_csv(f)
f = open('Teams.csv','rU')
teams = pd.read_csv(f)

In [ ]:
# What player on a team with “ia” in the team name played less than
# 200 minutes and made more than 100 passes? Print the player surname.

In [ ]:
# What is the average number of passes made by forwards? By midfielders?
# Don't include any other positions in your result.
# Hint: groupby is NOT the easiest way to do this one!

In [ ]:
# Which team has the highest ratio of goalsFor to goalsAgainst?
# Print the team name only.
# Hint: Add a "ratio" column to the teams dataframe, then sort,
# then use head(1) or tail(1) depending how you sorted

In [ ]:
# How many players who play on a team with ranking <10 played
# more than 350 minutes?
# Reminder: len() gives number of rows in a dataframe

In [ ]:
# BONUS!
# Write a loop that interactively asks the user to enter a team name.
# If the team exists, list all of the players on that team
# (with all of their information), sorted by descending minutes played.
# If the team doesn't exist, print "Team not in 2010 World Cup".
# If 'quit' is entered, terminate the loop.
# Reminder: To read a string from the user instead of a number, use
# raw_input() instead of input()
# Note: To test if a value v is (not) in a column c of a dataframe D,
# use "v (not) in D.c.values"